<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <div th:replace="~{fragments/navbar :: styles}"></div>
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex; flex-direction: column;
        }
        .content {
            flex: 1 0 auto;
        }
        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="content">
<div class="container mt-5">
    <h2 class="mb-4">Admin panel</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Proizvodi</h5>
                    <p class="card-text">Upravljanje proizvodima</p>
                    <a th:href="@{/admin/products}" class="btn btn-primary">Pregled</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Kategorije</h5>
                    <p class="card-text">Upravljanje kategorijama</p>
                    <a th:href="@{/admin/categories}" class="btn btn-primary">Pregled</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Povijest prijava</h5>
                    <p class="card-text">Pregled prijava korisnika</p>
                    <a th:href="@{/admin/login-history}" class="btn btn-primary">Pregled</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/navbar :: scripts}"></div>
</body>
</html>
