<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
<div class="container">
  <h1>Change Password</h1>
  <form onsubmit="event.preventDefault(); changePassword();">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" name="oldPassword" required>
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function changePassword() {
    const username = document.getElementById("username").value;
    const oldPassword = document.getElementById("oldPassword").value;
    const newPassword = document.getElementById("newPassword").value;

    // Kreiranje objekta za slanje podataka
    const data = {
      username: username,
      oldPassword: oldPassword,
      newPassword: newPassword
    };

    // Slanje AJAX zahtjeva
    fetch("/auth/change-password", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
            .then(response => {
              if (response.ok) {
                return response.text(); // Dohvati poruku iz odgovora
              } else {
                throw new Error("Failed to change password.");
              }
            })
            .then(message => {
              // Prikaz poruke o uspjehu pomoću SweetAlert2
              Swal.fire({
                icon: "success",
                title: "Success",
                text: message,
                timer: 2000,
                showConfirmButton: false
              });
            })
            .catch(error => {
              // Prikaz poruke o grešci pomoću SweetAlert2
              Swal.fire({
                icon: "error",
                title: "Error",
                text: error.message,
                timer: 2000,
                showConfirmButton: false
              });
            });
  }
</script>
</body>
</html>